nav {
  z-index: 9999;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  position: fixed;
}

.nav-content {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: space-between;
}

.new-tweet-button {
  display: flex;
  align-items: center;
  font-family: "Sans Source Pro", sans-serif;
  flex-direction: column;  
}

.angle-down-arrow {
  color: red;
}

.nav-logo {
  font-size: 1.5em;
}