#tweet-text {
  background: transparent;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  font-weight: bold;
}
/* SHOULD THIS BE AN INPUT OR A TEXT AREA */

.tweet-button {
  color: white;
  background-color: #4056A1;
}

.submit-container {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
}